<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./src/shopgate/vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         verbose="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
