###############################################################################
# .htacces Security File
# Author: Martin Weber
# Shopgate GmbH
# website: http://www.shopgate.com
# Project: http://code.google.com/p/shopgate-framework/
#
# Revision: $Rev: 50 $
###############################################################################

#AddType x-mapp-php5 .php
#AddHandler x-mapp-php5 .php

Order deny,allow
Deny from all
<Files api.php>
    Allow from all
</Files>
